<mat-toolbar color="primary">
    <span>My Network</span>
    <span class="example-spacer"></span>
    <div>
        <a mat-button routerLinkActive="active-link" [routerLink]="'home'">
            Home </a>
        <a mat-button routerLinkActive="active-link" [routerLink]="'network'"> Network </a>
        <a mat-button routerLinkActive="active-link" [routerLink]="'jobs'"> Jobs </a>
        <a mat-button routerLinkActive="active-link" [routerLink]="'messaging'"> Messaging </a>
        <a mat-button routerLinkActive="active-link" [routerLink]="'notifications'"> Notifications </a>
    </div>
</mat-toolbar>