<div class="row">
    <div class="left-column">
        <job-update class="spacer"></job-update>
        <job-activities-navigations class="spacer"></job-activities-navigations>

    </div>
    <div class="content-column">
        <new-feature-announcement class="spacer"></new-feature-announcement>
        <recent-job-searches class="spacer"></recent-job-searches>
        <job-recommendations class="spacer"></job-recommendations>
    </div>
    <div class="right-column">
        <open-to-work class="spacer"></open-to-work>
        <job-guidance class="spacer"></job-guidance>
        <footer ></footer>
    </div>
</div>